.navLink {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    margin-right: 10px;
    font-weight: 700;
    padding: 25px;
  }
  
  .navLinkActive {
    color: #14e954;
    font-weight: bold;
  }
  .navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #ccd3d3;
    padding: 20px 0;
  }
  
  .themeToggle svg {
    color: #cef10a;
  }